@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	font-family: "Ubuntu", sans-serif;
}

.hero-image {
	font-weight: 500;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c2/Glorious-blue-mountain-range.jpg");
	background-color: #cccccc;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#easy-responsive-powerful {
	font-weight: 800;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding-right: 3rem;
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}